@import "../../styles/vars";

header {
	height: $header-height;
	line-height: $header-height;
	display: flex;
	color: $color-light;
	background-color: $color-primary;
	flex-basis: $header-height;

	& > div {
		flex-basis: 33.33%;
	}

	& > div:nth-child(2) {
		text-align: center;
		font-weight: bold;
	}

	nav {
		padding: 0 15px;

		a {
			display: inline-block;
			color: $color-light;
			margin-right: 10px;
		}
	}
}